.card
{
    background-color: #1D3340;
    border-radius: 25px;
    padding: 20px;
    width: fit-content;
    margin-top: 30px;
    padding-top: 0.5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 10px;
}

.card-title
{
    border-bottom: 2px solid #ffffff24;
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    width: 100%;
}

.card-title img
{
    filter: drop-shadow(0px 6px 2px rgba(0, 4, 4, 0.25));
}


.card-status {
    margin-left: auto;
    display: flex;
    align-items: center;  
    justify-content: flex-end; 
}