.cards-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 1vw, 2rem); 

    width: min(100%, 1500px);
    margin: 0 auto;

    padding: 0 clamp(1rem, 2vw, 2rem);
    box-sizing: border-box;
}

.controls-widget
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.controls-widget button
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 34.5px;
    border-radius: 10px;
}

.search-buttons
{
    display: flex;
    gap: 12px;
}

.start-search
{
    background-color: #519848;
    color: #fff;
    border: none;
    transition: background-color 0.2s ease;
}

.start-search:hover 
{
    background-color: #5ba551;
}

.stop-search
{
    background-color: #8D3039;
    color: #fff;
    border: none;
    transition: background-color 0.2s ease;
}

.stop-search:hover 
{
    background-color: #a03843;
}

.return-dock
{
    background-color: #5595DE;
    color: #fff;
    border: none;
    transition: background-color 0.2s ease;
}

.return-dock:hover 
{
    background-color: #599ce8;
}

.info-container
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 12px;
    border-radius: 10px;
    background-color: #264151;

    display: grid;
    grid-template-columns: 1fr auto; /* Label + content*/
    align-items: center;
    column-gap: 66px;   
    width: 100%;
    box-sizing: border-box;
}

.info-label
{
    display: inline-flex;
    align-items: center; 
}

.info-label img
{
    margin-left: -13px;  
    margin-right: 2px;  
}

.livestats-widget
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.progress-container
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #264151;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto; /* Label + content*/
}

.progress-bar
{
    display: grid;
    grid-template-columns: 160px 1fr;
}

.map-container
{
    width: 790px;
    height: 400px;
    border-radius: 10px;
}




  