.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #192023;
    color: #fff;
    padding: 10px 20px;
    width: 100vw;
    height: 62px;
    box-sizing: border-box;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px;
}