.status-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 10px;
  width: 150px;
  height: 15px;
  border-radius: 21px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  width: fit-content;
  border-color: #fff;
}

.status-btn.online {
  background: #1D3340;
}

.status-btn.offline {
  background: #1D3340;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-btn.online .status-dot {
  background-color: #7bd87b;
}

.status-btn.offline .status-dot {
  background-color: #e57373;
}